extends layout
block content
    ul.nav.nav-tabs(role="tablist")
        li.active
            a(href="#streetview",role="tab",data-toggle="tab") Streetview
        li
            a(href="#routemap",role="tab",data-toggle="tab") Route Map
        li
            a(href="#blogtext",role="tab",data-toggle="tab") Blog Text

    .tab-content
        #streetview.tab-pane.container.active
            .well
                .row
                    .form-group
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-road
                            input#route.form-control(value="52.255865,-3.902992|52.3047,-3.85088")
                            span.input-group-addon
                                span#load.glyphicon.glyphicon-refresh
                    button#prev(width=120,height=28) Prev
                    label &nbsp;
                    button#next(width=120,height=28) Next
                    
                .row
                    .col-sm-12
                        .imageSub
                            img.img-responsive#streetviewFront(width=640,height=480)
                            button.imageSubDiv#streetviewAdd(width=28,height=28) +
                        label &nbsp;
                .row
                    .col-sm-4
                        .imageSub
                            img.img-responsive#streetviewLeft(width=160,height=120)
                            button.imageSubDiv#streetviewLeftAdd(width=28,height=28) +
                    .col-sm-4
                        .imageSub
                            img.img-responsive#streetviewRear(width=160,height=120)
                            button.imageSubDiv#streetviewRearAdd(width=28,height=28) +
                    .col-sm-4
                        .imageSub
                            img.img-responsive#streetviewRight(width=160,height=120)
                            button.imageSubDiv#streetviewRightAdd(width=28,height=28) +
                        
        #routemap.tab-pane
            .well
                img.img-responsive#routemapImage(width=640,height=480)
                button#routemapAdd(width=28,height=28) +
                
    
        #blogtext.tab-pane
            .well
                form(action='/postToBlog',method='post')
                    .form-group
                        input#postTitle.form-control(type="text",name="title",placeholder="Blog Post Title")
                    .form-group
                        textarea#blogMarkup.form-control(name="content")
                    .form-group
                        button#submitBlog.btn.btn-primary(type='submit') Submit Draft

    script(src="scripts/main.js")
    
    