extends layout
block content
    h1=title
    
    label Route:&nbsp;
    input#route(width=760,height=28,value="52.255865,-3.902992|52.3047,-3.85088")
    label &nbsp;
    button#load(width=120,height=28) Load
    br
    button#prev(width=120,height=28) Prev
    label &nbsp;
    button#next(width=120,height=28) Next
    br
    img#streetview(width=640,height=480)
    label &nbsp;
    img#routemap(width=640,height=480)

    script(src="scripts/main.js")
    
    